1. Write a Python program to create an array of 5 integers and display the array items.
Access individual element through indexes.

In [3]:
l = list(map(int,input().split()))
print(l)

5 5 5 55
[5, 5, 5, 55]

2. Write a Python program to reverse the order of the items in the array

In [4]:
a = list(map(int,input().split()))
print(a[::-1])

1 2 3 4 5 6
[6, 5, 4, 3, 2, 1]

3. Write a Python program to get the number of occurrences of a specified element in an
array.

In [5]:
a = list(map(int,input().split()))
b = int(input("Enter the number whose occurence is to be printed:-"))
count = 0
for i in a:
    if i==b:
      count+=1
print(count)

1 1 1 2 2 1 2 4 2 1
Enter the number whose occurence is to be printed:-1
5

4. Write a Python program to remove the first occurrence of a specified element from an
array.

In [6]:
a = list(map(int,input().split()))
b = int(input("Enter the number:-"))
for i in a:
  if i==b:
    a.remove(i)
    break
print(a)

1 1 2 3 4 5 6
Enter the number:-1
[1, 2, 3, 4, 5, 6]

5. Write a Python program to sum all the items in a list.

In [ ]:
a = list(map(int,input().split()))
s = 0
for i in a :
  s+=i
print(s)  
#or
b = [1,2,3,4,56]
print(sum(b))

6. Write a Python program to multiplies all the items in a list.

In [14]:
a = list(map(int,input().split()))
m = 1
for i in a:
   m*=i
print(m)

1 2 3 4 5 6
720

7. Write a Python program to get the smallest number from a list

In [15]:
a = list(map(int,input().split()))
print(min(a))
#or
a.sort()
print(a[0])

100 54 12 65 10
10
10

8. Write a Python program to count the number of strings where the string length
is 2 or more and the first and last character are same from a given list of strings.

In [18]:
a = ['abc','xyz','aba','1221']
count = 0
for i in a:
   if len(i)>=2 and i[0]==i[-1]:
     count+=1
print(count)

2

9. Write a Python program to get a list, sorted in increasing order by the last
element in each tuple from a given list of non-empty tuples.

In [19]:
a =  [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
print(a[::-1])

[(2, 1), (2, 3), (4, 4), (1, 2), (2, 5)]

10. Write a Python program to get the difference between the two lists.

In [33]:
a = [1,2,3,4,5]
b = [3,4]
c = []
for i in a:
  if i not in b:
    c.append(i)
print(c)

[1, 2, 5]

11. Write a Python program to find common items from two lists.

In [34]:
a = [1,2,3,4,5,6]
b = [2,3,4,7,8,9]
c = []
for i in a:
   if i in b:
     c.append(i)
print(c)

[2, 3, 4]

12. Write a Python program to remove duplicates from a list of lists.

In [41]:
a =  [[10, 20], [40], [30, 56, 25], [10, 20], [33], [40]]
b = []
for i in a:
  if i not in b:
     b.append(i)
print(b)

[[10, 20], [40], [30, 56, 25], [33]]