
1. Write a Python script to sort (ascending and descending) a dictionary by
value.

In [23]:
s = input()
d = dict()
for i in s:
  if i not in d:
    d[i]=0
  d[i]+=1

print(sorted(d.items()))
print(sorted(d.values()))
a = sorted(d.items())
print(a[::-1])

hellowrodl
[('d', 1), ('e', 1), ('h', 1), ('l', 3), ('o', 2), ('r', 1), ('w', 1)]
[1, 1, 1, 1, 1, 2, 3]
[('w', 1), ('r', 1), ('o', 2), ('l', 3), ('h', 1), ('e', 1), ('d', 1)]

2. Write a Python script to add a key to a dictionary.

In [ ]:
d = {0:10,1:20}
d[2]=30
print(d)

{0: 10, 1: 20, 2: 30}

3. Write a Python script to concatenate following dictionaries to create a new
one.

In [7]:
d1 = {1:10,2:20}
d2 = {3:30,4:40}
d3 = {5:50,6:60}
d4  =dict()
for i in (d1,d2,d3):
   d4.update(i)
print(d4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

4. Write a Python program to iterate over dictionaries using for loops.

In [28]:
d = {1:10,2:20,4:30,5:2,6:1}
for i in d.items():
   print(i)

(1, 10)
(2, 20)
(4, 30)
(5, 2)
(6, 1)

5. Write a Python script to generate and print a dictionary that contains a
number (between 1 and n) in the form (x, x*x).

In [11]:
n = int(input())
d = dict()
for i in range(1,n+1):
    if i not in d:
      d[i]=0
    d[i]+=i*i
print(d)

5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

6.Write a Python program to remove a key from a dictionary.

In [12]:
s = input()
d = dict()
for i in s:
   if i not in d:
      d[i]=0
   d[i]+=1
h = input()   
d.pop(h)
print(d)

helloworld
o
{'h': 1, 'e': 1, 'l': 3, 'w': 1, 'r': 1, 'd': 1}

7. Write a Python program to print all unique values in a dictionary.

In [25]:
d =  [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"},
{"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]
a = set()
for i in d:
   for j in i.values():
       a.add(j)
print(a)

{'S002', 'S005', 'S007', 'S009', 'S001'}

8. Write a Python program to create a dictionary from a string.

In [26]:
s = input()
d = dict()
for i in s:
   if i not in d:
      d[i]=0
   d[i]+=1
print(d)

helloworld
{'h': 1, 'e': 1, 'l': 3, 'o': 2, 'w': 1, 'r': 1, 'd': 1}

9. Write a Python program to print a dictionary in table format

In [41]:
d = {1:1,2:3,3:4,4:5,5:6}
print("Keys \t\tValues")
for i in d:
   print(i,"\t\t",d[i])

Keys 		Values
1 		 1
2 		 3
3 		 4
4 		 5
5 		 6

10. Write a Python program to count the values associated with key in a
dictionary

In [29]:
d = [{'id': 1, 'success': True, 'name': 'Lary'}, {'id': 2, 'success':
False, 'name': 'Rabi'}, {'id': 3, 'success': True, 'name': 'Alex'}]
c = 0
for i in d:
   for j in i.items():
       if j==('success',True):
          c+=1
print(c)

2

11. Write a Python program to convert a list into a nested dictionary of keys.

In [34]:
a = [1, 2, 3, 4]
d = c = {}
for i in a:
    c[i] = {}
    c = c[i]
print(d)

{1: {2: {3: {4: {}}}}}

12. Write a Python program to check multiple keys exists in a dictionary.

In [38]:
d = {1:1,1:3,1:4,2:3,4:5,6:5}
a = int(input())
if a not in d.keys():
   print('Not exist')
else:
   print("Exist")

3
Not exist

13. Write a Python program to count number of items in a dictionary value
that is a list.

In [40]:
d = {'A' : [1, 2, 3, 4, 5, 6, 7, 8, 9],
        'B' : 34,
        'C' : 12,
        'D' : [7, 8, 9, 6, 4] }
a = 0
for i in d:
    if isinstance(d[i],list)==True:
        a+=sum([len(d[i])]) 
print(a)

14