1. Write a Python program to create a set.

In [1]:
a = set(input().split())
print(a)

1 2 3 4 5 6
{'6', '1', '3', '5', '2', '4'}

2. Write a Python program to iteration over sets.

In [2]:
a = set(input().split())
for i in a:
  print(i)

1 4 58 9 2
9
1
58
2
4

3. Write a Python program to add member(s) in a set

In [3]:
a = set()
b = [1,2,3,"Hello",True,6]
for i in b:
  a.add(i)
print(a)

{1, 2, 3, 6, 'Hello'}

4. Write a Python program to remove item(s) from set

In [7]:
a = set(map(int,input().split()))
b = int(input("Enter number:-"))
a.remove(b)
print(a)

1 2 3 4 5 6 7 8
Enter number7
{1, 2, 3, 4, 5, 6, 8}

5. Write a Python program to remove an item from a set if it is present in the set.

In [8]:
a = set(map(int,input().split()))
b = int(input("Enter number:-"))
if b in a:
   a.remove(b)
print(a)

1 2 3 45 6
Enter number:-3
{1, 2, 6, 45}

6. Write a Python program to create an intersection of sets.

In [9]:
a = set(map(int,input().split()))
b = set(map(int,input().split()))
c = a.intersection(b)
print(c)

1 2 3 4 5 6 7
1 6 7 4 5
{1, 4, 5, 6, 7}

7. Write a Python program to create a union of sets.

In [13]:
a = set(input().split())
b = set(input().split())
c = a.union(b)
print(c)
#or

x = list(a)
y = list(b)
for i in x:
  if i in y:
    x.remove(i)
print("Union is ",set(x+y))

1 2 3 4
1 2 4 6
{'6', '1', '3', '2', '4'}
Union is  {'6', '1', '3', '2', '4'}

8. Write a Python program to create set difference.

In [14]:
a = set(input().split())
b = set(input().split())
c = a.difference(b)
print(c)
#Other way is to convert the set into list like the previous one

1 2 3 True Hello 3 4
3 6 True False
{'1', '2', '4', 'Hello'}

9. Write a Python program to create a symmetric difference.

In [15]:
a = set(input().split())
b = set(input().split())
c = a.symmetric_difference(b)
print(c)

1 2 3 4 5 6 H j l l k n i
e ba cd e 4 5 7 8True
{'1', '7', 'e', '2', 'H', 'ba', 'l', 'i', '8True', '6', 'k', '3', 'j', 'n', 'cd'}

10. Write a Python program to clear a set.

In [16]:
a = set(input().split())
print(a.clear())

1 2 3 45
None

11. Write a Python program to use of frozensets

In [17]:
a = set(input().split())
froz = frozenset(a)
print(froz)
froz.add(3)

1 2 3 4 5 6
frozenset({'1', '3', '5', '2', '4', '6'})

AttributeError: ignored

12. Write a Python program to find maximum and the minimum value in a set.

In [19]:
a = set(map(int,input().split()))
print(min(a))
print(max(a))
#or
l = list(a)
l.sort()
print(l[0],l[-1])

1 4 5 9 8 7 4 5 6
1
9
1 9