1. Write a Python program to create a tuple.

In [4]:
a = tuple(map(int,input().split()))
#or
b = (1,2,3,4,5)
print(a)
print(b)

9 8 7
(9, 8, 7)
(1, 2, 3, 4, 5)

2. Write a Python program to create a tuple with different data types.

In [6]:
a = tuple(input().split())
#or
b = (1,2,3,'Hello',True)
print(a)
print(b)

7 jdfsd 5
('7', 'jdfsd', '5')
(1, 2, 3, 'Hello', True)

3. Write a Python program to unpack a tuple in several variables.

In [9]:
a = tuple(map(int,input().split()))
x,y,z = a
print(a)
print(x,y,z)
print(x+y+z)

4 6 8
(4, 6, 8)
4 6 8
18

4. Write a Python program to find the repeated items of a tuple.

In [15]:
a = tuple(map(int,input().split()))
for i in a:
  if a.count(i)>1:
    print(i)

1 1 2 2 3 3 4 5
1
1
2
2
3
3

5. Write a Python program to check whether an element exists within a tuple.

In [17]:
a = tuple(input().split())
b = input("Enter the element to search:-")

if b in a:
    print("Exist")
else:
    print("Not exist")

1 23 45 6
Enter the element to search:-1
Exist

6. Write a Python program to convert a list to a tuple

In [18]:
a = tuple(input().split())
b = list(a)
print(b)

1 2 3 hello 3
['1', '2', '3', 'hello', '3']

7.Write a Python program to remove an item from a tuple.

In [19]:
a = tuple(input().split())
b = list(a)
c = input("Item to remove:-")
b.remove(c)
print(tuple(b))

1 2 3 4 5 6
Item to remove:-5
('1', '2', '3', '4', '6')


8. Write a Python program to slice a tuple.

In [20]:
a = tuple(input().split())
print(a[:3])
print(a[3:])

1 2 3 4 5 6 78 9
('1', '2', '3')
('4', '5', '6', '78', '9')

9. Write a Python program to reverse a tuple

In [21]:
a = tuple(input().split())
print(a[::-1])

1 2 3 45 6
('6', '45', '3', '2', '1')